<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999915558851-et8v78mu3ojshv8ilf09p2im04m56dok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999915558851-et8v78mu3ojshv8ilf09p2im04m56dok</string>
	<key>API_KEY</key>
	<string>AIzaSyA-pOgGJirWpc-Xk3zu10SW_3AXH4pmo0E</string>
	<key>GCM_SENDER_ID</key>
	<string>999915558851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lensTracker</string>
	<key>PROJECT_ID</key>
	<string>lenstracker-62a56</string>
	<key>STORAGE_BUCKET</key>
	<string>lenstracker-62a56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999915558851:ios:f73d3363f4b467e3bb8f76</string>
</dict>
</plist>